:root {
--primary-dark-blue-intro-email: hsl(217, 28%, 15%); //(intro and email sign up background)
--primary-dark-blue-main: hsl(218, 28%, 13%); //(main background)
--primary-dark-blue-footer: hsl(216, 53%, 9%); //(footer background)
--primary-dark-blue-testimonials: hsl(219, 30%, 18%); //(testimonials background)

--accent-cyan: hsl(176, 68%, 64%); //(inside call-to-action gradient)
--accent-blue: hsl(198, 60%, 50%); //(inside call-to-action gradient)
--accent-light-red: hsl(0, 100%, 63%); //(error)

--neutral-white: hsl(0, 0%, 100%);

}